body{
    text-align: center;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(224, 221, 221, 0.685);
}

div {
    display: block;
}

.faculty-login-form-div {
    width: 50%;
}

.faculty-login-form-div, .faculty-login-signin-button-div {
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 1rem;
    justify-content: center;
  align-items: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
   
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.head{
    margin-right: -15px;
    margin-left: -15px;
    color: rgb(171,112,172)
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.faculty-login-forgot-password {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    color: #00000078;
    font-size: 19px;
    margin-top: 10px;
    text-align: center;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.password{
    margin-top: 20px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.faculty-login-signin-button-div button {
    background: #ab70ac;
    border: 2px solid #ffffffbd;
    font-family: Montserrat,sans-serif;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    padding: 12px 70px;
    width: 52%;
}

.faculty-login-form input {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #efeff0;
    color: grey;
    border: none;
}

.form-control {
    display: flex;
    
  align-items: center;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}
