
<% if(locals.message){ %>
  
  <% if(message[0]!=undefined) {%> 
  <% if(locals.message[0].includes('Error')) { %>
      <div style="background-color: rgb(214, 72, 16); color: white">
        <%= message %>
      </div>
  <% } else { %>
        <div style="background-color: rgb(51, 230, 45); color: white">
          <%= message %>
        </div>
  <% } %> 
  <% } %> 
<% }  %> 




 <div class="head">
      <h1>WELCOME TO SPARK | IIT ROORKEE</h1>
 </div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if(locals.user) { %>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Hi <%= user.name %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/signout">Log Out</a>
          </li>
        <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/users/signup">Sign Up</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/">Sign In</a>
        </li>
        <% } %> 
      </ul>
    </div>
  </nav> -->

 