<link rel="stylesheet" href="/css/layout.css">
<form action="/users/sendOtp" method="POST">
    
    <div class="faculty-login-form-div">
        <h1 style="color:  rgb(171,112,172); margin-top: 150px;">
            Reset Password
        </h1>

        <h2 style="color:  rgb(171,112,172);">
            Request Reset Code
        </h2>

        <div class="form-group row">
            <input class="form-control" name="email" type="email" id="inputEmail" placeholder="Email" autocapitalize="off"  autocorrect="off" spellcheck="off" required value=>
        </div>

        <div class="faculty-login-signin-button-div">
            <button type="submit" value="Reset">Send OTP</button>
        </div>    
    </div>

</form>